.content-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: #2C1A1D;
    font-family: courier;
}

.section {
  padding: 20px 80px 20px 80px;
}

.intro {
  background-color: #F5FBEF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.toDoList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.category {
	width: 300px;
}

.fas {
    color: green;
    font-size: 3em;
    display: flex;
    margin-right: 5px;
}
